/* =============================
   VARIABLES DE COLOR Y TIPOGRAFÍA
   ============================= */
:root {
    --color-fondo-juegos:#F5F7FA; 
    --color-fondo-inicio:#FCFFFC;
    --color-primario: #4A90E2;
    --color-secundario: #7BB6F1;
    --color-correcto: #4CAF50;
    --color-incorrecto: #E74C3C;
    --color-texto: #2C3E50;
    --color-blanco: #FFFFFF;

    --fuente-principal: 'Lexend', sans-serif;

    --sombra-suave: 0 4px 10px rgba(0, 0, 0, 0.08);
    --sombra-media: 0 6px 14px rgba(0, 0, 0, 0.12);
}

/* =============================
   RESETEO Y BASE GLOBAL
   ============================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Lexend";
    src: url("../assets/fonts/Lexend-Regular.ttf") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--fuente-principal);
    background: var(--color-fondo-inicio);
    color: var(--color-texto);
    /* height: 100vh;
            margin: 0; */
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* =============================
   INICIO HTML
   ============================= */

.gif-container img {
    max-width: 80%;
    height: auto;
    border-radius: 20px;
}

.btn-start {
    margin-top: 30px;
    background: #4a90e2;
    color: white;
    padding: 18px 45px;
    border: none;
    border-radius: 50px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-start:hover {
    background: #3576c9;
}


/* =============================
   INDEX PHP
   ============================= */

.contenedor-juegos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}

.tarjeta-juego {
    background: #ffffff;
    border-radius: 18px;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform .2s, box-shadow .2s;
}

.tarjeta-juego:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

.img-juego {
    width: 120px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn-secundario {
    background: #4a90e2;
    color: #fff;
    border: none;
    padding: 12px 28px;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
}


/* =============================
   RESPONSIVE
   ============================= */
@media (max-width: 600px) {
    #container {
        padding: 20px;
    }

    h2 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }

    .opcion-btn {
        font-size: 1rem;
        padding: 10px;
    }
}